<div class="col-md playerCardContainer mb-4">
  <div class="card playerCard" style="width: 17.5rem;">
    <img class="card-img-top" [src]="player.imageUrl" width="auto" height="200px" alt="Card image cap">
    <div class="card-body p-2">
      <h5 class="card-title text-center">{{ player.name }}</h5>
      <hr/>
      <div class="container text-left">
        <div class="row mb-3">
          <div class="col-5">Start</div>
          <div class="col-7 form-control text-center">{{ chip.totalChips }}</div>
        </div>
        <div class="row mb-3">
          <div class="col-5">Buyin</div>
          <div class="col-7">
            <div class="row">
              <button type="button" class="col btn btn-outline-dark" style="border-radius: 10%; font-weight: bolder;" (click)="onDecreaseBuyin()" *ngIf="isAuthenticated">-</button>
              <div class="col-5 form-control text-center ml-1 mr-1" *ngIf="isAuthenticated">{{ player.buyin }}</div>
              <div class="col form-control text-center" *ngIf="!isAuthenticated">{{ player.buyin }}</div>
              <button type="button" class=" col btn btn-outline-dark" style="border-radius: 10%; font-weight: bolder;" (click)="onIncreaseBuyin()" *ngIf="isAuthenticated">+</button>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-5">Remaining</div>
          <div class="col-7">
            <div class="row">
              <input type="number" class="col form-control text-center mr-1" [(ngModel)]="remaining" (keyup)="onUpdateFinal()" *ngIf="isAuthenticated"/>
              <div class="col form-control text-center" *ngIf="!isAuthenticated">{{ remaining }}</div>
              <button class="col btn btn-outline-dark" (click)="onBill()" *ngIf="isAuthenticated">Bill</button>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-5">Final</div>
          <div class="col-7">
            <div class="row">
              <div class="col form-control text-center mr-1">{{ finalChipValue }}</div>
              <div class="col form-control text-center" [ngClass]="{'won':hasWon > 0,'lose':hasWon < 0 }" >{{ finalValue }}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <button class="col btn btn-outline-dark mr-1" data-toggle="modal" [attr.data-target]="'#'+player.id" *ngIf="isAuthenticated">Check Record</button>
          <button class="col btn btn-outline-dark" data-toggle="modal" [attr.data-target]="'#'+player.id" *ngIf="!isAuthenticated">Check Record</button>
          <button class="col btn btn-outline-danger"  (click)="onDeletePlayer()" [disabled]="!isAuthenticated" *ngIf="isAuthenticated">Delete Player</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" [attr.id]="player.id" tabindex="-1" role="dialog" aria-labelledby="playerRecordLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="playerRecordLabel">{{ player.name }}'s Buyin Record</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeModal [disabled]="!isAuthenticated">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row mb-2">
            <div class="col">Total Buyin Times</div>
            <div class="col">{{ player.buyin}}</div>
          </div>
          <div class="row" *ngFor="let buyinRecord of player.record">
            <div class="col">{{ buyinRecord.split("@")[0] }}</div>
            <div class="col">{{ buyinRecord.split("@")[1] }}</div>
          </div>
        </div>
        <div class="modal-footer mt-4">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>