<div class="container">

  <div class="row" *ngIf="!isAuthenticated && !players.length">
    <div class="col">
      <h4 class="text-center">Please log in to start a game</h4>
    </div>
  </div>
  <div class="row">
    
    <div class="col-lg mb-1">
      <button *ngIf="players.length != 0 && isAuthenticated" type="button" class="btn btn-success btn-block" (click)="onUpdateChipInfo()">Save Chip Info</button>
    </div>
    <div class="col-lg mb-1">
      <button *ngIf="isAuthenticated" type="button" class="btn btn-success addPlayer btn-block" data-toggle="modal" data-target="#addPlayer" data-whatever="@mdo">
        {{ players.length === 0 ? "Start A Game" : "Add Player" }}
      </button>
    </div>
    <div class="col-lg mb-1">
      <button *ngIf="players.length != 0 && isAuthenticated" class="btn btn-danger btn-block" (click)="onClearAllPlayers()">Clear All Players</button>
    </div>
  </div>

  <hr *ngIf="players.length != 0 && isAuthenticated"/>

  <div class="row" *ngIf="players.length != 0">
    <div class="col-lg">
      <div class="input-group input-group-lg mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg" style="min-width: 12rem;">Total Chip Value</span>
        </div>
        <input type="number" class="form-control text-center" aria-label="Total Chip Value" aria-describedby="inputGroup-sizing-lg" [(ngModel)]="chip.totalChipValue" (keyup)="updateSingleChipValue()"/>
      </div>
    </div>
    <div class="col-lg">
      <div class="input-group input-group-lg mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg" style="min-width: 12rem;">Total Chips</span>
        </div>
        <input type="number" class="form-control text-center" aria-label="Total Chips" aria-describedby="inputGroup-sizing-lg" [(ngModel)]="chip.totalChips" (keyup)="updateSingleChipValue()"/>
      </div>
    </div>
    <div class="col-lg">
      <div class="input-group input-group-lg mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg" style="min-width: 12rem;">Single Chip Value</span>
        </div>
        <div class="form-control text-center" aria-label="Single Chip Value" aria-describedby="inputGroup-sizing-lg">{{ chip.singleChipValue }}</div>
      </div>
    </div>
  </div>
  
  

  <hr/>

  <div class="row" style="justify-content: space-around;">
    <app-player *ngFor="let player of players; let i=index" 
                [player]="player">
    </app-player>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="addPlayer" tabindex="-1" role="dialog" aria-labelledby="addPlayerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addPlayerLabel">New Player Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeModal>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #f="ngForm">
            <div class="form-group">
              <label for="player-name" class="col-form-label">Name:</label>
              <input type="text" class="form-control" id="player-name" name="name" ngModel required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal" (click)="onSubmit(f)" [disabled]="!f.valid">Add</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
</div>
