input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addPlayer {
  background-color: #343A40;
  border: #343A40;
  color: white;
}

.correct {
  background-color: #1BDA84;
  color: white
}

.wrong {
  background-color: #FE5F55;
  color: white
}